.load-files-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;

  cursor: pointer;
}

.open-post-info-warehouse {
  @extend .load-files-btn ;
  bottom: 70px;
  color: white;
  &:hover {
    color: white;
  }
}

.open-media-files-page {
  position: fixed;
  right: 20px;
  top: 20px;
}