.load-files-btn {
  position: fixed;
  right: 20px;
  bottom: 70px;

  cursor: pointer;
}

.open-post-info-warehouse {
  @extend .load-files-btn ;
  bottom: 120px;
}

.open-media-files-page {
  position: fixed;
  right: 20px;
  bottom: 20px;
}