.sidebar {
  background-color: #ffffff;
  box-shadow: 0 0px 15px 8px rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);

  .menu-item {
    position: relative;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #efefef;

    &.is-active {
      background-color: #1B8BF9;
      button {
        color: white;
      }
    }
  
    & > button {
      width: 100%;
      -webkit-appearance: none;
      position: relative;
      display: block;
      padding: 0;
      margin: 0;
      overflow: visible;
      color: black;
      font: inherit;
      font-size: 1em;
      line-height: 60px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 1px;
      background: transparent;
      border: 0;
      user-select: none;
      transition: all .4s ease;
      cursor: pointer;

      &:hover {
        background-color: rgba(234, 226, 226, 0.45);
      }

      &:hover,
      &:focus {
        outline: 0;
        text-decoration: none;
      }
    }
  }
}