/*  Vendors ( SCSS Plugin made by other developers )
/* --------------------------------------------------- */
/*  Utils ( useful functions, mixins )
/* --------------------------------------------------- */
/*  ripple button effects
/* --------------------------------------------------- */
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent; }
  .ripple__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(212, 196, 196, 0.45); }
  .ripple.is-ripple .ripple__circle {
    animation: a-ripple 1s ease-in; }

@keyframes a-ripple {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0; } }

/*  General ( default setup , override other plugin's settings )
/* ----------------------------------------------------------------- */
html, body, #app, #app > .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#app > .container {
  display: flex;
  flex-direction: column; }
  #app > .container > .l-top {
    flex-grow: 1;
    position: relative; }

.full-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }

.d-f-center, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-1 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-2 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-3 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-4 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-5 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-6 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-7 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-8 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-9 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-10 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-11 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-12 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-13 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-14 .team:before, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-15 .team:before {
  display: flex;
  justify-content: center;
  align-items: center; }

.outline {
  color: black;
  text-shadow: white  .02em   0     0, white  0       .02em 0, white -.02em   0     0, white  0      -.02em 0; }

.d-none {
  display: none !important; }

/*  Components
/* --------------------------------------------------- */
.bottom-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  .bottom-navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    overflow: hidden;
    color: #80808094; }
    .bottom-navigation a .text {
      display: none;
      font-size: 12px; }
    .bottom-navigation a .icon {
      font-size: 24px; }
    .bottom-navigation a.active {
      color: black; }
      .bottom-navigation a.active .ripple {
        animation: a-ripple .4s ease-in; }
      .bottom-navigation a.active .text {
        display: block; }

.map-page {
  display: flex;
  align-items: center; }
  .map-page .wrapper {
    width: 100%; }
  .map-page img {
    width: 100%;
    height: auto; }

.point-page {
  display: flex;
  flex-direction: column; }
  .point-page .title {
    text-align: center; }
  .point-page .chart-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center; }

.puzzle-page {
  display: flex;
  flex-direction: column; }
  .puzzle-page .puzzle-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid black; }
    .puzzle-page .puzzle-container .puzzle-box-wrapper {
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid black; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.w-25 {
        width: 25%; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.w-20 {
        width: 20%; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.w-18 {
        width: calc(100%/6); }
      .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box {
        width: 100%;
        height: 100%;
        position: relative; }
        .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box--flipper {
          transform-style: preserve-3d;
          transition: transform 3.3s ease-in; }
          .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box--flipper .front {
            backface-visibility: hidden;
            position: absolute;
            width: 100%;
            height: calc(100% + 2px);
            padding: 0;
            z-index: 2;
            transform: rotateY(0deg);
            background-color: white;
            border: none; }
          .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box--flipper .back {
            backface-visibility: hidden;
            position: relative;
            width: 100%;
            height: calc(100% + 2px);
            z-index: 2;
            transform: rotateY(180deg); }
        .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box--last {
          box-sizing: border-box;
          border: 1px solid yellow;
          background-color: white; }
          .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box--last svg {
            font-size: 42px; }
        .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box .word {
          font-size: 34px; }
          .puzzle-page .puzzle-container .puzzle-box-wrapper .puzzle-box .word.placeholder {
            opacity: 0; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.flipping .puzzle-box--flipper {
        animation: flip 0.6s;
        animation-fill-mode: forwards; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-1 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-1 .puzzle-box--normal {
        background-color: #1B378A; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-1 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "1"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-2 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-2 .puzzle-box--normal {
        background-color: #B6171E; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-2 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "2"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-3 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-3 .puzzle-box--normal {
        background-color: #41B33B; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-3 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "3"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-4 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-4 .puzzle-box--normal {
        background-color: #e162dc; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-4 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "4"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-5 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-5 .puzzle-box--normal {
        background-color: #f76904; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-5 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "5"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-6 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-6 .puzzle-box--normal {
        background-color: #a8f908; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-6 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "6"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-7 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-7 .puzzle-box--normal {
        background-color: #479eef; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-7 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "7"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-8 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-8 .puzzle-box--normal {
        background-color: #F4297D; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-8 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "8"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-9 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-9 .puzzle-box--normal {
        background-color: #1C1A25; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-9 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "9"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-10 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-10 .puzzle-box--normal {
        background-color: #f3f3fd; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-10 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "10"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-11 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-11 .puzzle-box--normal {
        background-color: #9C27B0; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-11 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "11"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-12 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-12 .puzzle-box--normal {
        background-color: #607D8B; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-12 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "12"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-13 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-13 .puzzle-box--normal {
        background-color: #795548; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-13 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "13"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-14 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-14 .puzzle-box--normal {
        background-color: #9E9E9E; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-14 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "14"; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-15 .back, .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-15 .puzzle-box--normal {
        background-color: #00BCD4; }
      .puzzle-page .puzzle-container .puzzle-box-wrapper.owner-15 .team:before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        width: 24px;
        height: 24px;
        background-color: white;
        content: "15"; }
  .puzzle-page .open-eniac-modal-btn {
    border: 0;
    border-radius: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px; }

@keyframes flip {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(180deg); } }

.eniac-modal > .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: white;
  width: 90%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); }
  .eniac-modal > .modal-content .eniac-form {
    display: flex;
    flex-direction: column; }
    .eniac-modal > .modal-content .eniac-form > .l-top {
      margin-bottom: 20px; }
    .eniac-modal > .modal-content .eniac-form .eniac-input,
    .eniac-modal > .modal-content .eniac-form .eniac-btn {
      width: 100%; }

.upload-page {
  height: 100%; }
  .upload-page .upload-box {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    padding: 0;
    border: 2px dotted gray;
    background-color: #F9F9FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .upload-page .upload-box > .l-top {
      margin-bottom: 10px; }
      .upload-page .upload-box > .l-top .note-add-icon {
        font-size: 46px; }
    .upload-page .upload-box > .l-bottom {
      font-size: 20px; }
  .upload-page .preview {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .upload-page .preview img {
      width: 96%; }
    .upload-page .preview .check-btns {
      position: absolute;
      right: 0;
      bottom: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: white;
      font-size: 34px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 4px;
      padding-right: 10px;
      margin-right: -10px;
      border: 1px solid #5217ff;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
      .upload-page .preview .check-btns .cancel > svg, .upload-page .preview .check-btns .ok > svg {
        font-size: 40px; }
      .upload-page .preview .check-btns .cancel {
        margin-right: 10px;
        color: red; }
      .upload-page .preview .check-btns .ok {
        margin-right: 10px;
        color: green; }
    .upload-page .preview--image video {
      display: none;
      max-height: 80%; }
    .upload-page .preview--video img {
      display: none; }
    .upload-page .preview .progress-bar {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 12px; }
  .upload-page .slide-left {
    animation: slideLeft 0.6s;
    animation-fill-mode: forwards; }

@keyframes slideLeft {
  from {
    transform: translateX(150%); }
  to {
    transform: translateX(0); } }

.post-info-page > .title {
  text-align: center; }

.post-info-page .post-info-list span {
  font-size: 22px; }
  .post-info-page .post-info-list span svg {
    font-size: 30px; }

.post-info-page .post-info-list .post-info-list-item {
  border-bottom: 1px solid #dcdcdc8a; }

/*  Layout
/* --------------------------------------------------- */
/*  Pages
/* --------------------------------------------------- */
/*  Responsive ( response to site's dynamic width )
/* --------------------------------------------------- */


/*# sourceMappingURL=style.css.map*/