.point-page {
  .point-page-inner {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .l-top {
      flex: 1;
    }
    .l-bottom {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .input-group {
      margin-bottom: 20px;
      input {
        text-align: center;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #80808036;
      }
    }
    .error-messages {
      font-size: 20px;
      font-weight: bold;
      color: red;
    }
  }
}