.puzzle-page {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  .puzzle-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid black;
    .puzzle-box-wrapper {
      position: relative;
      overflow: hidden;
      // sizes
      &.w-25 {
        width: 25%;
      }
      &.w-20 {
        width: 20%;
      }
      &.w-18 {
        width: calc(100%/6);

        .word {
          font-size: 28px !important;
        }
        .team:before {
          font-size: 14px !important;
          width: 20px !important;
          height: 20px !important;
        }
      }

      box-sizing: border-box;
      border: 1px solid black;

      .puzzle-box {
        width: 100%;
        height: 100%;
        position: relative;

        &--normal {
          
        }
        &--flipper {
          transform-style: preserve-3d; 
          transition: transform 3.3s ease-in;
          .front {
            backface-visibility: hidden;
            position: absolute;
            width: 100%;
            height: calc(100% + 2px);
            padding: 0;
            z-index: 2;
            transform: rotateY(0deg);
            background-color: white;
            border: none;
          }

          .back {            
            backface-visibility: hidden;
            position: relative;
            width: 100%;
            height: calc(100% + 2px);
            z-index: 2;
            transform: rotateY(180deg);
          }
        }
        &--last {
          box-sizing: border-box;
          border: 1px solid yellow;
          background-color: white;
          svg {
            font-size: 42px;
          }
        }

        .word {
          &.placeholder {
            opacity: 0;
          }
          font-size: 34px;
        }
      }

      // for real time flipping
      &.flipping .puzzle-box--flipper {
        animation: flip 0.6s;
        animation-fill-mode: forwards;
      }
      $teamColors : #1B378A, // 1
                #B6171E, // 2
                #41B33B, // 3
                #9C27B0, // 4
                #f76904, // 5
                #a8f908, // 6
                #479eef, // 7
                #F4297D, // 8
                #1C1A25, // 9
                #f3f3fd, // 10
                #e162dc, // 11
                #607D8B, // 12
                #795548, // 13
                #9E9E9E, // 14
                #00BCD4;  // 15

      @for $i from 1 through length($teamColors) {
        &.owner-#{$i} {
          .back, .puzzle-box--normal {
            background-color: nth($teamColors, $i);
          }
          .team:before {
            @extend .d-f-center;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 18px;
            width: 24px;
            height: 24px;
            background-color: white;            
            content: "#{$i}";
          }
        }
        
      }
    }
  }
  .open-eniac-modal-btn {
    border: 0;
    border-radius: 0;
    // width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

.eniac-modal > .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: white;
  width: 90%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);

  .eniac-form {
    display: flex;
    flex-direction: column;
    & > .l-top {
      margin-bottom: 20px;
    }
    .eniac-input,
    .eniac-btn {
      width: 100%;
    }
  }
}