.modal-dialog.modal--result {
  table {
    font-size: 14px;
    font-weight: 600;
    td, tr, th {
      text-align: center;
      vertical-align: middle;
    }
    td {
      padding: 0.5rem;
    }
  }
}