.ReactModal {
  &__Overlay {
    z-index: 2000;
    background-color: rgba(0,0,0,0.4);
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.75s;
  }
  &__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.alertModal {
  background-color: #fafafa;
  padding: 15px;
  width: 250px;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
  color: #080808;
  border-radius: 5px;
  transform: translate(0, 0px);
  animation-name: dropDown;
  animation-duration: 0.75s;
  p {
    font-size: 18px;
  }
  button {
    padding: 5px 14px;
    font-size: 0.875rem;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }
  &__btnContainer {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
  }
  &__positiveBtn {
    color: #2196f3;
    border: 1px solid rgba(33, 150, 243, 0.5);
  }
  &__negativeBtn {
    color: rgb(225, 0, 80);
    border: 1px solid rgba(225, 0, 80, 0.5);
  }
  button {
    text-align: center;
    cursor: pointer;
  }
  .alertModal__header {
    text-transform: uppercase;
    &--error {
      color: red;
    }
  }
  @keyframes dropDown {
    /* keyframe */
    from {
      transform: translate(0, -100px);
    }
    /* keyframe */
    to {
      transform: translate(0, 0px);
    }
  }
}