.upload-page {
  height: 100%;

  .upload-box {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    padding: 0;
    border: 2px dotted gray;
    background-color: #F9F9FB;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .l-top {
      margin-bottom: 10px;
      .note-add-icon {
        font-size: 46px;
      }
    }
    & > .l-bottom {
      font-size: 20px;
    }
  }
  .preview {
    position: relative;
    height: 100%;
    text-align: center;
    img {
      width: 96%;
    }
    .videoPlayer {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      .video-js {
        height: 100%;
        width: 100%;
      }
    }
    .check-btns {
      position: absolute;
      right: 0;
      bottom: 55px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: white;
      font-size: 34px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 4px;
      padding-right: 10px;
      margin-right: -10px;

      border: 1px solid #5217ff;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

      .cancel, .ok {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none; // remove default btn style
        background-color: white;
        & > svg {
          font-size: 40px;
        }
      }
      .cancel {
        margin-right: 10px;
        color: red;
      }
      .ok {
        margin-right: 10px;
        color: green;
      }
    }
    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      .videoPlayer {
        display: none;
      }
    }
    &--video {
      .imageCanvas {
        display: none;
      }
    }
    .progress-bar {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 12px;      
    }
  }
  .slide-left {
    animation: slideLeft 0.6s;
    animation-fill-mode: forwards;
  }
  .notice {
    text-align: left;
    margin-top: 10px;
    h4 {
      color: red;
      text-align: center;
    }
    ol {
      padding-left: 10px;
    }
    li {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  @keyframes slideLeft {
    from {
      transform: translateX(150%);
    }
  
    to {
      transform: translateX(0);
    }
  }

}